.grid {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    height: 60px;
}

.logo {
    width: 100%;
    height: 100%;
    display: block;
}

.logoLink {
    max-width: 120px;
    display: inline-block;
}

.hamburger {
    position: relative;
    display: block;
    width: 24px;
    height: 2px;
    background: #000; // Change this to variable

    &::after,
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 24px;
        background: #000;
        height: 100%;
        display: block;
    }

    &::before {
        top: -8px;
    }

    &::after {
        bottom: -8px;
    }
}
